[Unit]
Description=Hello Web frontend
After=hello-api.service

[Container]
Image=localhost/hello-web:latest
ContainerName=hello-web
Network=caddy-public.network
AutoUpdate=local
NoNewPrivileges=true

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
